/node_modules

/public/storage
/public/hot
/public/uploads
/public/boletos

/storage/*.key
/storage/logs/*.log
/storage/debugbar/*.json
/storage/public/documentos_admissionais

/vendor
/.idea
/.vscode

Homestead.json
Homestead.yaml

.env
!/docker/.env

/config/ws-boleto-santander/config.ini

npm-debug.log
package-lock.json
.DS_Store

/docker/dbdata

/.history

/.composer
